{% extends "entregas/base.html" %}

{% block page_header %}
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">About Me</h1>
            <p class="card-text">Welcome to my About Me page! I'm a passionate individual who loves exploring the latest technologies and discovering new possibilities. With a deep curiosity for innovation, I constantly seek to expand my knowledge and skills in the ever-evolving world of technology.</p>
            
            <p class="card-text">Driven by a desire to create meaningful solutions, I thrive in collaborative environments where I can contribute my expertise and learn from others. I enjoy tackling complex challenges and finding creative ways to overcome them, always striving to deliver high-quality results.</p>
            
            <p class="card-text">When I'm not immersed in technology, you can find me pursuing my other passions, such as photography, reading, and traveling. These diverse interests provide me with a well-rounded perspective and inspire me to approach problems from different angles.</p>
            
            <p class="card-text">Join me on this exciting journey as we embrace the power of technology and its endless possibilities. Let's connect and create something amazing together!</p>
        </div>
    </div>
{% endblock page_header %}

